{% import "Macros/Header.twig" as h %}
{% import "Macros/Footer.twig" as f %}

<div id="c{{ data.uid }}"{% if data.css_classes %} class="{{ data.css_classes|split(',')|join(' ') }}"{% endif %}>
    {% block header %}{{ h.header(data) }}{% endblock %}
    {% block footer %}{{ f.footer(data) }}{% endblock %}
</div>
