{% extends "Layouts/HeaderContentFooter.twig" %}
{% import "Macros/Table/Columns.twig" as c %}

{% block content %}

    {% if table %}
        <table class="ce-table table table-striped">
            {% if data.table_caption %}
                <caption>{data.table_caption}</caption>
            {% endif %}
            {% for row in table %}

                {% if loop.first %}
                    {% if flexdata.acctables_headerpos == 'top' %}
                        <thead>
                    {% else %}
                        <tbody>
                    {% endif %}
                {% else %}
                    {% if loop.last and data.table_tfoot %}
                        </tbody>
                        <tfoot>
                    {% endif %}
                {% endif %}

                <tr>
                    {% set rowLoop = loop %}
                    {% for cell in row %}
                        {{ c.columns(cell, rowLoop, loop, data, flexdata) }}
                    {% endfor %}
                </tr>

                {% if loop.first %}
                    {% if flexdata.acctables_headerpos == 'top' %}
                        </thead>
                        <tbody>
                    {% endif %}
                {% else %}
                    {% if loop.last %}
                        {% if data.table_tfoot %}
                            </tfoot>
                        {% else %}
                            </tbody>
                        {% endif %}
                    {% endif %}
                {% endif %}

            {% endfor %}
        </table>
    {% endif %}
{% endblock %}