
{% macro header(data) %}
    {% if data.header %}
        {% if data.header_layout %}
            <h{{ data.header_layout }}>{{ data.header }}</h{{ data.header_layout }}>
        {% else %}
            <h2>{{ data.header }}</h2>
        {% endif %}
    {% endif %}
{% endmacro %}
