
{% macro media_gallery(gallery, data) %}
    {% if gallery.position.horizontal == 'center' %}
        <div class="ce-outer">
            <div class="ce-inner">
    {% endif %}
                <div class="ce-gallery{% if data.imageborder %} ce-border{% endif %}" data-ce-columns="{{ gallery.count.columns }}" data-ce-images="{{ gallery.count.files }}">
                    {% for row in gallery.rows %}
                        <div class="ce-row">
                            {% for column in row.columns %}
                                <div class="ce-column">
                                    <div class="ce-media">
                                        {% if data.image_zoom %}
                                            <a href="{{ column.media|get_url }}" class="lightbox" rel="lightbox">
                                        {% endif %}
                                        {{ column.media|media(
                                            width=column.dimensions.width,
                                            height=column.dimensions.height,
                                            alt=column.media.alternative,
                                            title=column.media.title) }}
                                        {% if data.image_zoom %}
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
    {% if gallery.position.horizontal == 'center' %}
            </div>
        </div>
    {% endif %}
{% endmacro %}
